/* src/components/SearchBar.css */

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  background: rgba(20, 20, 50, 0.8);
  border: 1px solid rgba(0, 162, 255, 0.6);
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 8px 12px;
  background: white;
}

.search-bar input {
  background: transparent;
  border: none;
  color: #E0E8FF;
  font-size: 16px;
  outline: none;
  flex: 1;
}

.search-bar .search-icon {
  color: #00A2FF !important;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.search-bar .search-icon:hover {
  transform: scale(1.4);
  text-shadow: 0px 0px 6px 10px rgba(0, 162, 255, 1);
}

.search-bar .search-icon.shrink {
  transform: scale(0.8);
}
